<!DOCTYPE html>

<head>
  <title>WeatherWatch</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">

  <script>
    function generateimages() {
      var x = document.getElementsByTagName("img");
      var y = document.getElementsByClassName("weather")
      var snow = 0
      var clear = 0
      var rain = 0
    
      for (var i = 0; i < 24; i++) {
        switch (y[i].innerHTML) {
          case "Clear":
            x[i].src = "static/sunny.gif";
            clear += 1;
            break;
          case "Clouds":
            x[i].src = "static/cloudy.gif";
            clear += 1;
            break;
          case "Rain":
            x[i].src = "static/rain.gif";
            rain += 1;
            break;
          case "Thunder":
            x[i].src = "static/thunder.gif";
            rain += 1;
            break;            
          case "Snow":
            x[i].src = "static/snow.gif";
            snow +=1;
            break;
          default:
            x[i].src = "#";
            clear +=1;
            break;
        }
      }
      var highest = Math.max(clear,snow,rain)
      var weather 
        if (snow == highest){
        weather = "snow";
       
        }
        if (rain == highest) {
        weather = "rain";
        
        }
        if (clear == highest){
        weather = "clear";
      
        }
    
        
      Activity(weather)
  
    }

    function validate() {
      var location = document.forms["locationForm"]["location"].value;
      if (location == "") {
        alert("Location must be entered");
        return false;
      }
    }

    function Previous() {
      if (document.getElementById("row2").style.display == "block") {
        document.getElementById("row2").style.display = "none";
        document.getElementById("row1").style.display = "block";
      }
      else {
        document.getElementById("row3").style.display = "none";
        document.getElementById("row2").style.display = "block";
      }
    }

    function Next() {
      if (document.getElementById("row1").style.display == "block") {
        document.getElementById("row1").style.display = "none";
        document.getElementById("row2").style.display = "block";
      }
      else {
        document.getElementById("row2").style.display = "none";
        document.getElementById("row3").style.display = "block";
      }
    }
    function Activity(weather) {
 
      var Snowing_dict = {
        1 : 'Make a Snowman!',
        2 : 'Watch a Movie in Bed!' ,
        3 : 'Go Skiing!' ,
        4 : 'Have a Snowball Fight!' ,
        5 : 'Make Hotchocolate!' ,
        6 : 'Make a Snow Angel!' ,
        7 : 'Have Soup! ' ,
        8 : 'Go Snowboarding!' ,
        9 : 'Go Sledging!' ,
        10 :'Make an Igloo!' , 
      }

      var Sunny_dict = {
      1 : 'Go to the Pub!',
      2 : 'Go for a Walk!' ,
      3 : 'Go for a Run!' ,
      4 : 'Go to the Beach!' ,
      5 : 'Play some Sport!' ,
      6 : 'Make Lemondae!' ,
      7 : 'Go for a Bike Ride!' ,
      8 : 'Go to the Zoo!' ,
      9 : 'Go Rock Climbing!' ,
      10 :'Go Sky Diving!' , 
    } 

      var Raining_dict = {
      1 : 'Try Painting!',
      2 : 'Make a Hot Drink!' ,
      3 : 'Race Leaves or Boats!' ,
      4 : 'Take Pictures!' ,
      5 : 'Go for a Walk!' ,
      6 : 'Jump in Puddles!' ,
      7 : 'Do some Cleaning!' ,
      8 : 'Watch a Movie!' ,
      9 : 'Have Soup!' ,
      10 : 'Do Homework!' , 
    }
    var rand = Math.floor(Math.random() * 10) + 1;
    
    switch(weather){
      case "Clear":
      var activity = Sunny_dict[rand]
      document.getElementById("activity").innerHTML = activity;
      break;
      case "Rain":
      var activity = Raining_dict[rand]
      document.getElementById("activity").innerHTML = activity;   
      break;

      case "Snow":
      var activity = Snowing_dict[rand]
      document.getElementById("activity").innerHTML = activity;
      break;

      case "Thunder":
      var activity = Raining_dict[rand]
      document.getElementById("activity").innerHTML = activity;
      break;

      default: 
      var activity = Sunny_dict[rand]
      document.getElementById("activity").innerHTML = activity;
    }




    }

  </script>
</head>
<!-- Inline styles need to be resolved -->

<body onload="generateimages()">
  <div class="jumbotron text-center">
    <h1>WeatherWatch</h1>
    <p>3-Day Weather Forecast</p>
  </div>
  <div class="container spacing">
    <form name="locationForm" action="/locationforecast" method="GET" onsubmit="return validate()">
      <input name="location" class="text_muted text" type="text" placeholder="Enter city here..">
      <input class="btn btn-success btn-sm" type="submit" value="Submit">     
    </form>
     {% if error %}
      <p class="text-info small">Location not found.</p>
      {% endif %}
  </div>
    
  


  <!--Will look at looping this and also adding alt text-->
  {% if weather_data_one %}
  <div style="display:block;" id="row1">
    <div class="container alignment">
      <div class="row" style="justify-content:center;">
        <p>Showing: {{weather_data_one[0].date}}</p>
      </div>
      <div class="row" style="justify-content:center;">

        <input type="button" class="btn btn-light btn-sm" value="Next" onclick="Next()"
          style="display:block; width: 80px;">
      </div>
    </div>
    <div class="container alignment">
      <div class="row">
        {% for data in weather_data_one %}
        <div class="col-sm">
          <h6>{{data.time}}</h6>
          <img>
          <p class="weather">{{data.weather}}</p>
          <p>{{data.temperature}}<sup>o</sup>C</p>
        </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>

  {% if weather_data_two %}
  <div style="display:none;" id="row2">
    <div class="container alignment">
      <div class="row" style="justify-content:center;">
        <p>Showing: {{weather_data_two[0].date}}</p>
      </div>
      <div class="row" style="justify-content:center;">
        <input type="button" class="btn btn-light btn-sm" value="Previous" onclick="Previous()"
          style="display:block; width: 80px;">
        <input type="button" class="btn btn-light btn-sm" value="Next" onclick="Next()"
          style="display:block; width: 80px;">
      </div>
    </div>
    <div class="container alignment">
      <div class="row">
        {% for data in weather_data_two %}
        <div class="col-sm mycol">
          <h6>{{data.time}}</h6>
          <img>
          <p class="weather">{{data.weather}}</p>
          <p>{{data.temperature}}<sup>o</sup>C</p>
        </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>


  {% if weather_data_three %}
  <div style="display:none;" id="row3">
    <div class="container alignment">
      <div class="row" style="justify-content:center;">
        <p>Showing: {{weather_data_three[0].date}}</p>
      </div>
      <div class="row" style="justify-content:center;">
        <input type="button" class="btn btn-light btn-sm" value="Previous" onclick="Previous()"
          style="display:block; width: 80px;">
      </div>
    </div>
    <div class="container alignment">
      <div class="row">
        {% for data in weather_data_three %}
        <div class="col-sm">
          <h6>{{data.time}}</h6>
          <img>
          <p class="weather">{{data.weather}}</p>
          <p>{{data.temperature}}<sup>o</sup>C</p>
        </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>



  <div>   
<p class = "text-center"> <strong> What Should You Do Today? </strong> </p>
  </div>
  <div class = "text-center">
    <input type="button" onclick="generateimages()" value="GO">
  </div>
 <br>
  <p class = "text-center"><strong id="activity">  </strong> </p>



</body>

</html>