<!DOCTYPE html>
<html lang="en">

<head>
  <title>WeatherWatch</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">

  <script>
    function generateimages() {
      var x = document.getElementsByTagName("img");
      var y = document.getElementsByClassName("weather")
      for (var i = 0; i < 24; i++) {
        switch (y[i].innerHTML) {
          case "Clear":
            x[i].src = "static/sunny.gif";
            break;
          case "Clouds":
            x[i].src = "static/cloudy.gif";
            break;
          case "Rain":
            x[i].src = "static/rain.gif";
            break;
          case "Thunder":
            x[i].src = "static/thunder.gif";
            break;
          default:
            x[i].src = "#";
            break;
        }
      }
    }
    function validate() {
      var location = document.forms["locationForm"]["location"].value;
      if (location == "") {
        alert("Location must be entered");
        return false;
      }
    }
    
    function Hide() {
      if (document.getElementById("row1").style.display == "" || document.getElementById("row1").style.display == "block") {
        document.getElementById("row1").style.display = "none";
        document.getElementById("row2").style.display = "block";
      }
      else if (document.getElementById("row2").style.display = "block") {
        document.getElementById("row1").style.display = "block";
        document.getElementById("row2").style.display = "none";
      }
    }

  </script>
</head>
<!-- Inline styles need to be resolved -->

<body onload="generateimages()">
  <div class="jumbotron text-center">
    <h1>WeatherWatch</h1>
    <p>3-Day Weather Forecast</p>
  </div>
  <div class="container spacing">
    <form name="locationForm" action="/location" method="GET" onsubmit="return validate()">
      <input name="location" class="text_muted text" type="text" placeholder="Enter city here..">
      <input class="btn btn-light btn-sm" type="submit" value="Submit">
    </form>


    {% if error %}
    <p class="text-info small">Location not found.</p>
    {% endif %}
  </div>


  <!--Will look at looping this and also adding alt text-->
  {% if weather_data_one %}
  <div class="container alignment">
    <div class="row" style="justify-content:center;">
      <p>Showing: {{weather_data_one[0].date}}</p>
    </div>
    <div class="row" style="justify-content:center;">
      <input  type="button" class="btn btn-light btn-sm" value ="Previous" onclick="Hide()" style="display:block; width: 80px;">
      <input type="button" class="btn btn-light btn-sm" value="Next" onclick="Hide()" style="display:block; width: 80px;">
    </div>
  </div>
  <div class="container alignment" id="row1">
    <div class="row">
      {% for data in weather_data_one %}
      <div class="col-sm">
        <h6>{{data.time}}</h6>
        <img>
        <p class="weather">{{data.weather}}</p>
        <p>{{data.temperature}}<sup>o</sup>C</p>
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>

  

</body>

</html>