<!DOCTYPE html>
<html lang="en">

<head>
  <title>WeatherWatch</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
  <script>
    function generateimages() {
      var x = document.getElementsByTagName("img");
      var y = document.getElementsByClassName("weather")
      for (var i = 0; i < 8; i++) {
        switch (y[i].innerHTML) {
          case "Clear":
            x[i].src = "static/sunny.gif";
            break;
          case "Clouds":
            x[i].src = "static/cloudy.gif";
            break;
          case "Rain":
            x[i].src = "static/rain.gif";
            break;
          case "Thunder":
            x[i].src = "static/thunder.gif";
            break;
          default:
            x[i].src = "#";
            break;
        }
      }
    }
    function validate() {
      var location = document.forms["locationForm"]["location"].value;
      if (location == "") {
        alert("Location must be entered");
        return false;
      }
    }
  </script>
</head>
<!-- Inline styles need to be resolved -->

<body onload="generateimages()">
  <div class="jumbotron text-center">
    <h1>WeatherWatch</h1>
    <p>3-Day Weather Forecast</p>
  </div>
  <div class="container" style="margin-bottom:20px;">
    <form name="locationForm" action="/location" method="GET" onsubmit="return validate()">
      <input name="location" class="text_muted text" type="text" placeholder="Enter city here..">
      <input class="btn btn-light btn-sm" type="submit" value="Submit">
    </form>
    {%if error == False %}
    <p class="text-info small">Location not found.</p>
    {% endif %}
  </div>
  {%if weather_data %}
  <div class="container alignment">
    <div class="row">
      <!--Will look at looping this and also adding alt text-->
      <div class="col-sm">
        <h6>0000 - 3000</h6>
        <img>
        <p class="weather">{{weather_data[0].weather}}</p>
        <p>{{weather_data[0].temperature}}<sup>o</sup>C</p>
      </div>
      <div class="col-sm">
        <h6>3000 - 6000</h6>
        <img>
        <p class="weather">{{weather_data[1].weather}}</p>
        <p>{{weather_data[1].temperature}}<sup>o</sup>C</p>
      </div>
      <div class="col-sm">
        <h6>6000 - 9000</h6>
        <img>
        <p class="weather">{{weather_data[2].weather}}</p>
        <p>{{weather_data[2].temperature}}<sup>o</sup>C</p>
      </div>
      <div class="col-sm">
        <h6>9000 - 1200</h6>
        <img>
        <p class="weather">{{weather_data[3].weather}}</p>
        <p>{{weather_data[3].temperature}}<sup>o</sup>C</p>
      </div>
      <div class="col-sm">
        <h6>1200 - 1500</h6>
        <img>
        <p class="weather">{{weather_data[4].weather}}</p>
        <p>{{weather_data[4].temperature}}<sup>o</sup>C</p>
      </div>
      <div class="col-sm">
        <h6>1500 - 1800</h6>
        <img>
        <p class="weather">{{weather_data[5].weather}}</p>
        <p>{{weather_data[5].temperature}}<sup>o</sup>C</p>
      </div>
      <div class="col-sm">
        <h6>1800 - 2100</h6>
        <img>
        <p class="weather">{{weather_data[6].weather}}</p>
        <p>{{weather_data[6].temperature}}<sup>o</sup>C</p>
      </div>
      <div class="col-sm">
        <h6>2100 - 0000</h6>
        <img>
        <p class="weather">{{weather_data[7].weather}}</p>
        <p>{{weather_data[7].temperature}}<sup>o</sup>C</p>
      </div>
    </div>
  </div>
  {% endif %}
</body>

</html>