<!DOCTYPE <!DOCTYPE html>
<html>

<head>
    <title>Weather Station Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
    <div class="container">
        <div class="row form-center">
            <div class="col-sm-3">
                <form action="/home" method="POST">
                    <div>
                        <label for="username" class="block-elements"><b>Username</b></label>
                        <input type="text" class="text block-elements" placeholder="Enter Username" name="username" required>
                    </div>
                    <div>
                        <label for="psw" class="block-elements"><b>Password</b></label>
                        <input type="password" class="text block-elements" style="margin-bottom: 6px;"
                            placeholder="Enter Password" name="psw" required>



                        {% if log_in_required %}
                        <p class="text-info small">Log in required.</p>
                        {% endif %}
                        {% if invalid_credentials %}
                        <p class="text-info small">Incorrect password or username.</p>
                        {% endif %}

                    </div>
                    <div>
                        <input type="submit" value="Login" class="btn btn-success btn-sm">

                    </div>
                    <div>
                        <p class="text-info small">Need an account?<strong><a href="{{ url_for('register') }}"> Sign
                                    up!</a></strong></p>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>

</html>