<!DOCTYPE <!DOCTYPE html>
<html>

<head>
    <title>Weather Station Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
    <div class="container">
        <div class="row" style="justify-content: center; align-items: center; height: 100%;">
            <div class="col-sm-3">
                <form action="/home" method="POST">
                    <div>
                        <label for="username" style="display: block;"><b>Username</b></label>
                        <input type="text" class="text " style="display: block;" placeholder="Enter Username"
                            name="username" required>
                    </div>
                    <div>
                        <label for="psw" style="display: block;"><b>Password</b></label>
                        <input type="password" class="text" style="display: block; margin-bottom: 6px;" placeholder="Enter Password"
                            name="psw" required>
                        {% if logged_out %}
                        <p class="text-info small">Log in required.</p>
                        {% endif %}
                        {% if invalid_credentials %}
                        <p class="text-info small">Incorrect password or username.</p>
                        {% endif %}
                    </div>
                    <div>
                        <input type="submit" value="Login" class="btn btn-success btn-sm">
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>

</html>