<!DOCTYPE <!DOCTYPE html>
<html>

<head>
    <title>Weather Station Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
    <div class="container">
        <div class="row" style="justify-content: center; align-items: center; height: 100%;">
            <div class="col-sm-3">
                <form action="/location" >
                    <label for="username" style="display: block;"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="username" required style="display: block;">
                    <label for="psw" style="display: block;"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="psw" required style="display: block; margin-bottom: 10px;">
                    <input type="submit" value="Login" class="btn-" style="display: block;">
                </form>
            </div>
        </div>
    </div>

</body>

</html>