
img {
      max-width: 100px;
      border-radius: 15px;
    }

    .alignment {
      text-align: center;     
    }

    .text {
      font-size: 0.87rem;
      vertical-align: middle;
      border-radius: 2px;      
    }

    
     
    
    
  