
img {
  max-width: 100px;
  border-radius: 15px;
}

.alignment {
  text-align: center;     
}

.text {
  font-size: 0.87rem;
  vertical-align: middle;
  border-radius: 2px;      
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e9ecef;
}

li {
  float: left;
}

li a {
  display: block;
  color: grey;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
}

li a:hover{
  color: rgb(228, 208, 208);
}

.btn-logout{
  border: none;
  background-color:#e9ecef;      
}
.block-elements{
  border:55;
  display: block;  
  text-align: center;
  border: 2px solid #3498db;
  padding: 5px 5px;
  width: 200px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
}
.unblock-elements{  
  display: block;  
  width: 200px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
}
.text-login
{
  font-size: 1.00rem;
  text-align: center;
  border-radius: 0.5px;     
}    
.block-elements:focus{
  width: 240px;
  border-color: #2ecc71;
}
.center-contents{
  justify-content: center; 
  align-items: center;
  height: 100%;
}
.form-center{
  justify-content: center; 
  align-items: center; 
  height: 50%;
}

 


